body {
  font-family: sans-serif;
  background-image: url("https://wallpaperaccess.com/full/253332.jpg");
  background-repeat: no-repeat;
}

.main-header{
  text-align: center;
  padding-top: 3rem;
  color: #fff;
  font-weight: bolder;
  text-shadow: -3px -2px 3px black;

}

.book-search{
  margin: 0 auto;
  background: #333;
  width: 50%;
  height: 600px;
  border-radius: 15px;
  padding-top: 3rem;
  margin-top: 2rem;
  color: #fff;

}

span{
  font-weight: bolder;
}

.myNav{
  font-weight: bold;
}

.foot{
  height: 100px;
}

.foot-logo{
  width: 5%;
}

.book-wrapper{
  width: 60%;
  padding-left: 3rem;
}

.book-img{
  width: 21%;
  position: relative;
  bottom: 18.75rem;
  left: 37rem;
}

.book-wrapper p{
  margin: 0;
  padding: 6% 0 8% 0;
  font-size: 22px;
}

.book-wrapper span{
  font-size: 20px;
}

#bookTitle{
  text-align: center;
    font-size: 24px;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 2rem;
    font-weight: bolder;
}
