body {
  font-family: sans-serif;
  background-image: url("https://wallpaperaccess.com/full/253332.jpg");
  background-repeat: no-repeat;
}

.main-header{
  text-align: center;
  padding-top: 3rem;
  color: #fff;
  font-weight: bolder;
  text-shadow: -3px -2px 3px black;

}

.book-search{
  margin: 0 auto;
  background: #333;
  width: 50%;
  height: 400px;
  border-radius: 15px;
  margin-top: 2rem;
  color: #fff;

}

span{
  font-weight: bolder;
}

.myNav{
  font-weight: bold;
}

.foot{
  height: 100px;
}

.foot-logo{
  width: 5%;
}

.book-wrapper{
  width: 50%;
  padding-left: 3rem;
  padding-top: 2rem;
}

.book-img{
  width: 59%;
  position: relative;
  left: 5rem;
  top: 3rem;
}

.book-wrapper p{
  margin: 0;
  padding: 6% 0 8% 0;
  font-size: 15px;
}

.book-wrapper span{
  font-size: 15px;
}

.bookTitle{
  color: #fff;
  padding-top: 3rem;
  text-shadow: -5px 1px 3px black;
  text-align: center;
  font-weight: bolder;
}

.theWrapper{
}

.title{
  display: inline-block;
}

.Description{
  width: 50%;
  background: #333;
  color: #fff;
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 10px;
}

.slideShow{
  width: 18%;
  margin: 0 auto;
  padding-top: 2%;
}

.carousel{
  position: relative;
  width: 50%;
  background: #333;
  border-radius: 10px;
  margin: 0 auto;
  height: 257px;
  margin-top: 3rem;
}
